# Eclipse
.classpath
.project
.metadata
.settings/
.springBeans
.checkstyle
*/bin/
# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml
#out/

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear
/build
/logs
/build/
